<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.minftel.mscrum.activities"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="15"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.CALL_PRIVILEGED"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="org.minftel.mscrum.receiver.ScrumReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="org.minftel.receiver.action.GO_PROJECTS"/>
                <action android:name="org.minftel.receiver.action.GO_LOGIN"/>
                <action android:name="org.minftel.receiver.action.GO_SPRINTS"/>
                <action android:name="org.minftel.receiver.action.GO_TASKS"/>
                <action android:name="org.minftel.receiver.action.GO_USERS"/>
                <action android:name="org.minftel.receiver.action.GO_CHARTS"/>
                 <action android:name="org.minftel.receiver.action.GO_EDIT_PROJECT"/>
                  <action android:name="org.minftel.receiver.action.GO_EDIT_USER_PROJECT"/>
            </intent-filter>
        </receiver>
        <activity android:name="ProjectActivity" android:label="@string/Projects"></activity>
        <activity android:name="Preferences"></activity>
        <activity android:name="Register" android:label="@string/Register"></activity>
        <activity android:name="AddProjectActivity" android:label="@string/addProjectMenu"></activity>
        <activity android:name="AddSprintActivity" android:label="@string/addSprintMenu"
            android:windowSoftInputMode="stateVisible|adjustResize"></activity>
        <activity android:name="TaskActivity" android:label="@string/Tasks"></activity>
        <activity android:name="SprintsActivity" android:label="@string/Sprints"></activity>
        <activity android:name="AddTask" android:label="@string/addTask"></activity>
        <activity android:name="EditTaskActivity" android:label="@string/EditTask"></activity>
        <activity android:name="UserActivity" android:label="@string/users"></activity>
        <activity android:name="ContactActivity" android:label="@string/userInfo"></activity>
        <activity android:name="EditProjectActivity" android:label="@string/EditProject"></activity>
         <activity android:name="ChartActivity" android:label="ESTADISTICAS">
       </activity>
         <activity android:name="EditUserProjectActivity"></activity>
    </application>

</manifest>