<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.minftel.mscrum.activities"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="15"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.CALL_PRIVILEGED"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="org.minftel.mscrum.receiver.ScrumReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="org.minftel.receiver.action.GO_PROJECTS"/>
                <action android:name="org.minftel.receiver.action.GO_LOGIN"/>
                <action android:name="org.minftel.receiver.action.GO_SPRINTS"/>
                <action android:name="org.minftel.receiver.action.GO_TASKS"/>
                <action android:name="org.minftel.receiver.action.GO_USERS"/>
                <action android:name="org.minftel.receiver.action.GO_CHARTS"/>
                 <action android:name="org.minftel.receiver.action.GO_EDIT_PROJECT"/>
            </intent-filter>
        </receiver>
        <activity android:name="ProjectActivity"></activity>
        <activity android:name="Preferences"></activity>
        <activity android:name="ProjectActivity"></activity>
        <activity android:name="Register"></activity>
        <activity android:name="AddProjectActivity"></activity>
        <activity android:name="AddSprintActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"></activity>
        <activity android:name="TaskActivity"></activity>
        <activity android:name="SprintsActivity"></activity>
        <activity android:name="AddTask"></activity>
        <activity android:name="EditTaskActivity"></activity>
        <activity android:name="UserActivity"></activity>
        <activity android:name="ContactActivity"></activity>
        <activity android:name=".EditUserProjectActivity"></activity>
         <activity android:name="ChartActivity" android:label="ESTADISTICAS">
       </activity>
    </application>

</manifest>